.Item-container {
    cursor: pointer;
}

.Item-container:hover > div {
    border: 2px solid #FFB232;
}

.active {
    border: 2px solid #FFB232;
}

.non-active {
    border: 2px solid #DCDBDB;
}

.Item-block {
    border: 2px solid #DCDBDB;
}

.Item-image {
    width: 140px;
}

.Item-name {
    padding: 8px 0;
    color: #000000;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.active {
    border: 2px solid #FFB232;
}
