.Offer-view {
    font-size: 14px;
}

.Option-item {
    height: 45px;
    background: #E6E6E6;
    box-shadow: 0px 1px 3px #00000069;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

.Option-item:hover {
    box-shadow: 0px 1px 3px #FFB232;
}

.text-field {
    width: 100%;
}

.list-price {
    border-bottom: 1px solid #DCDBDB;
}

.price {
    text-align: right;
}

.input {
    border: 1px solid #DCDBDB;
    margin: 5px 0 !important;
    padding: 5px;
}

label {
    text-align: center;
}

.button-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.map {
    border-bottom: 1px solid #DCDBDB;
}

.dealer-box {
    background: #E6E6E6;
    box-shadow: 0px 1px 3px #00000069;
    cursor: pointer;
}

.dealer-box:hover {
    box-shadow: 3px 3px 6px #FFB232;
}

.Item-box {
    width: 200px;
    height: 200px;
    background: #E4E4E4;
    border-radius: 15px;
    cursor: pointer;
}

.Item-box:hover {
    border: 2px solid #FFB232;
}

.final-image {
    width: 70px;
    height: 70px;
}
