.Landing-container {
    background-color: #3C525D;
    height: 100%;
    width: 100%;
    position: fixed;
}
.Landing {
    height: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

@media only screen and (max-width: 768px) {
    .Landing {
        width: 100%;
        height: auto;
        position: fixed;
        right: 0px;
    }
}
