.Category-container {
    width: 150px;
}

.Category-container:hover > div {
    border: 2px solid #FFB232;
}


.Category-block {
    border: 2px solid #DCDBDB;
    width: 150px;
    height: 90px;
    cursor: pointer;
}

.Cat-item-image {
    width: 160px;
}

.Cat-item-icon {
    height: 30px;
}

.Cat-Item-name {
    padding: 8px 0;
    color: #6D6D6D;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
