.Sidebar-container {
    background-color: #F9F9F9;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

.Sidebar-header {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(125, 123, 123, 0.27);
}
